@model CreateDiscountDto
@{
    ViewData["Title"] = "Create Discount";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="col-md-12">
    <form method="post">
        <div class="card">
            <div class="card-header">
                <div class="card-title">Add Discount</div>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="ProductName">Discount Name</label>
                    <input type="text" class="form-control input-square" asp-for="Title" id="Title"
                        placeholder="Product Name">
                </div>
                <div class="form-group">
                    <label for="Description">Discount Descrpition</label>
                    <input type="text" class="form-control input-square" asp-for="Description" id="Description"
                        placeholder="Product Description">
                </div>
                <div class="form-group">
                    <label for="Price">Discount Price</label>
                    <input type="text" class="form-control input-square" asp-for="Amount" id="Amount"
                        placeholder="Product Price">
                </div>
                <div class="form-group">
                    <label for="ImageURL">Discount Image</label>
                    <input type="text" class="form-control input-square" asp-for="ImageURL" id="ImageURL"
                        placeholder="Product ImageURL">
                </div>
                <div class="form-group">
                    <label for="ImageURL">Discount Description</label>
                    <input type="text" class="form-control input-square" asp-for="Description" id="Description"
                        placeholder="Description">
                </div>

            </div>
            <div class="card-action">
                <button class="btn btn-success">Create</button>
            </div>
        </div>
    </form>
</div>