@model CreateSocialMediaDto
@{
    ViewData["Title"] = "Create Discount";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="col-md-12">
    <form method="post">
        <div class="card">
            <div class="card-header">
                <div class="card-title">Add Social Media</div>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="ProductName">Title</label>
                    <input type="text" class="form-control input-square" asp-for="Title" id="Title"
                        placeholder="Product Name">
                </div>
                <div class="form-group">
                    <label for="Description">URL</label>
                    <input type="text" class="form-control input-square" asp-for="URL" id="Description"
                        placeholder="Product Description">
                </div>
                <div class="form-group">
                    <label for="Price">Icon</label>
                    <input type="text" class="form-control input-square" asp-for="Icon" id="Amount"
                        placeholder="Product Price">
                </div>

            </div>
            <div class="card-action">
                <button class="btn btn-success">Create</button>
            </div>
        </div>
    </form>
</div>