@model List<ResultSocialMediaDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<h4 class="page-title">Social Media</h4>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title">Social Media</div>
            </div>
            <div class="card-body">
                <div class="card-sub">
                    This is the Social Media view of the ready dashboard :
                </div>
                <table class="table mt-3">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Title</th>
                            <th scope="col">URL</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.SocialMediaID</td>
                                <td>@item.Title</td>
                                <td>@item.URL</td>
                                <td><a href="/SocialMedia/EditSocialMedia/@item.SocialMediaID"
                                        class="btn btn-outline-success">Edit</a>
                                </td>
                                <td><a href="/SocialMedia/DeleteSocialMedia/@item.SocialMediaID"
                                        class="btn btn-outline-danger">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <a href="/SocialMedia/CreateSocialMedia" class="btn btn-success">New Social Media</a>

            </div>
        </div>
    </div>

</div>