@model CreateContactDto
@{
    ViewData["Title"] = "CreateAbout";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="col-md-12">
    <form method="post">
        <div class="card">
            <div class="card-header">
                <div class="card-title">Add Contact</div>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="categoryName">Phone</label>
                    <input type="number" class="form-control input-square" asp-for="PhoneNumber" id="PhoneNumber"
                        placeholder="PhoneNumber">
                </div>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="categoryName">E-Mail</label>
                    <input type="text" class="form-control input-square" asp-for="EMail" id="EMail" placeholder="EMail">
                </div>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="categoryName">Location</label>
                    <input type="text-area" class="form-control input-square" asp-for="Location" id="Location"
                        placeholder="Location">
                </div>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="categoryName">FooterDescription</label>
                    <input type="text-area" class="form-control input-square" asp-for="FooterDescription"
                        placeholder="FooterDescription">
                </div>
            </div>
            <div class="card-action">
                <button class="btn btn-success">Submit</button>
            </div>
        </div>
    </form>
</div>