@{
    Layout = null;
}
<!DOCTYPE html>
<html>
@await Component.InvokeAsync("_LayoutHeaderComponent")

<body>
    <div class="wrapper">
        @await Component.InvokeAsync("_LayoutNavbarComponent")
        @await Component.InvokeAsync("_LayoutSideBarComponent")
        <div class="main-panel">
            <div class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>
            @await Component.InvokeAsync("_LayoutFooterComponent")
        </div>
    </div>
</body>
@await Component.InvokeAsync("_LayoutScriptComponent")
@await RenderSectionAsync("Scripts", required: false)

</html>
