@model List<SignalRWebUI.Dtos.CategoryDto.ResultCategoryDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<h4 class="page-title">Categories</h4>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title">Category List</div>
            </div>
            <div class="card-body">
                <div class="card-sub">
                    This is the Category view of the ready dashboard :
                </div>
                <table class="table mt-3">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Status</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.CatergoryID</td>
                                <td>@item.CatergoryName</td>
                                <td>@item.CatergoryStatus</td>
                                <td><a href="/category/EditCategory/@item.CatergoryID"
                                        class="btn btn-outline-success">Edit</a></td>
                                <td><a href="/category/DeleteCategory/@item.CatergoryID"
                                        class="btn btn-outline-danger">Delete</a></td>
                            </tr>
                        }


                    </tbody>
                </table>
                <a href="/category/CreateCategory" class="btn btn-success">New Category</a>
            </div>
        </div>
    </div>

</div>